/* layout_02.css */
@charset "utf-8";

/* reset css */
html,body{margin: 0; padding: 0; color: #333;}
h1,h2,h3,h4,h5,h6, 
p,pre,div{margin: 0; padding: 0;}
ul,ol,li,dl,dt,dd{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none; color: #f0a;}
/* 에이테그는 링크불러오는 것, 텍스트-데코레이션에 밑줄같이 데코 생기는 거 방지하겠다. */
a:hover{text-decoration: underline; font-weight: bold;}
img{border:0;} /*이미지 테그는 기본적으로 보더가 생김 */

header,section,footer,aside,article,nav,main,figure{display: block; }




/* ======= common ===== */
.clearfix:after{content:" "; display: block; clear:both;}
/*IE 9버전 이하를 위해 예전에 사용한 코드로 (: 콜론 하나로) 를 적용*/
.clearfix::after{content:" "; display: block; clear:both;}
/* :hover, :visited :active */
.hidden{width: 0; height: 0; overflow: hidden;}
/* overflow: hidden; 넘치는 영역을 숨겨라 */

/* =============== design ================== */
body{background-color: #035;}
#box{width: 600px; height:auto;
  margin: 50px auto;
  margin: 3.125em auto;}

/* #headBox---------------------------------*/
  #headBox{width: 100%; height: 100px; background-color: #1af; padding: 10px; box-sizing: border-box;}
  h1{width: 80px; height: 80px; background-color: #fff; float: left; 
  /*margin-top: 10px; margin-left: 10px;*/
  }
  #globalNavArea{width: 300px; height: 40px; background-color: #dfdfdf; float: right;
  margin-top: 40px;/* margin-right: 10px;*/}
  #globalNavArea>ul{width: 100%; height: 100%;}
  #globalNavArea>ul>li{width: 10%; height: 100%; background-color: #555; color:#fff; float: left; margin-right: 8%;}
  #globalNavArea>ul>li.last{margin-right: 0;}
/* 

* <h1>: h1은 사이트에 제목을 뜻하는 의미를 가지고 있고, 가장 중요한 의미를 지니고 있다.
* html5 초기버전에서는 h1을 여러번 사용이 가능했으나 (section 태그내의 새로운 작은 웹형식을 갖추면)
* html5.1 버전인 현재 (2017.10)는 h1을 다시 한번만 사용하기로 변형되었다. 

*/


/* #contentBox------------------------------*/
  #contentBox{width: 100%; height: auto;}
  #contentArea{width:70%;
  /* width: calc(100% / 3);*/ height: 150px; float: left; background-color: #aac;}
  #viewArea{width: 70%;
   /*width: calc(100% / 3); */height: 150px; float: left; background-color: #faf;}
/*  소수점은 반드시 6자리까지!!!!!!!!!!!  */
  #sideArea {width: 30%;
  /* width: calc(100% / 3); 
  익스플로러 하위 버전에는 적용 안되기 때문에 잘 확인 후 사용할 것 */  height: 300px; float: right; background-color: #fa0; margin: -150px auto;}

/* #footBox---------------------------------*/
  #footBox{width: 100%; height: 100px; background-color: #af1;}













