/* FAQ.css */

/* #wrap */
#wrap{width: 100%; height: auto; background-color: #fafafa;margin: 0 auto;  }
#wrap .last{margin-right:0;}
/* ------------ #wrap ----------- */

/* #headBox */
#headBox{width: 100%; height: 70px; background-color: #555; padding: 1rem; box-sizing: border-box; margin: 0 auto; }
  #headBox>div{width: 100%;height: 100%;}
  h1{width: 100px; height: 100%; background-color: #fff; text-align: center; float: left;}

  #gnb{width: 700px; height: 100%; float: left; margin-left: 150px; }
  #gnb>ul{width: 100%; height: 100%; background-color: #ddd;}
  #gnb>ul>li{width: 100px; height: 100%; float: left;
   margin-right: 50px; background-color: #fafafa; text-align: center; line-height: 40px;}
   #gnb>ul>li>a{display: block; width: 100%; height: 100%;}
  .gnb_btn{width: 50px; height: 100%; float: right; background-color: #fafafa; line-height: 40px; }
/* ------------ #headBox ----------- */

/* #navWrap */
#navWrap{width: 100%; height: auto; margin: 0 auto; background-color: #fafafa;}

#navContainer{width: 100%; height: 120px; padding: 2rem; box-sizing: border-box; background-color: #777;}
#cnb{width: 100%; height: 100%; margin: 0 auto; background-color: #555;}
#cnb>ul{width: 75%; height: 100%; margin: 0 auto; padding: 0.5rem; box-sizing: border-box;}
#cnb>ul>li{width: 150px; height: 100%; float: left; text-align: center; line-height: 40px; padding-right:0.5rem; border-right: 1px solid #fafafa;  margin-right: 1rem; color: #fafafa;} 
#cnb>ul>li:nth-child(2){font-size: 1.5rem; font-weight: bold;} 
/* ------------ #cnb ----------- */

/* FAQ 페이지 본문 */
#faqWrap{width: 100%; height: auto; margin: 0 auto;}

.title_container{width: 100%; height: auto; margin: 0 auto; padding: 1rem; box-sizing: border-box; background-color: #fafafa;}
.title_container>h2{width: 100%; height: 80px;  border-bottom: 3px solid #333; line-height: 80px;}
/* ------------ .title_container ----------- */

#faqContainer{width: 100%; height: auto; margin: 0 auto; background-color: #fafafa; padding: 1rem; box-sizing: border-box; }

#searchContent{width: 100%; height: auto; background-color: #fafafa; padding: 1rem; box-sizing: border-box;} 
#searchContent>div{width: 100%; height: 240px;  padding: 1rem 3rem; box-sizing: border-box; margin-top: 30px; margin-bottom: 30px;} 
#searchContent ul{width: 100%; height: 100%; margin: 0 auto;}
#searchContent ul>li{width: 20%; height: 100%; float: left; margin-right: 6%; background-color: #eee; padding: 1rem; box-sizing: border-box;}
#searchContent ul>li.last{margin-right: 0;}
.faq_icon{width: 60%; height: 60%; border-radius: 50%; margin: 0 auto; background-color: #999; float: left; margin-left: 40px; text-align: center; line-height: 100px;}
#searchContent ul>li>p{width: 100%; height: auto; margin-top: 20px; text-align: center; float: left;}
/* ------------ #searchContent ----------- */
#qnaList{width: 100%; height: auto; margin: 0 auto; background-color: #fafafa; padding: 1rem; box-sizing: border-box;}
.qna_list{width: 80%; height: 80px; margin:0 auto 20px;}
.qna_list>dt{width: 10%; height: 100%; background-color: #aaa; float: left;  line-height: 80px; text-align: center; font-weight: bold; font-size: 1.5rem;}
.qna_list>dd{width: 90%; height: 100%; background-color: #eee; float: right; line-height: 80px;}
/* ------------ #qnaList ----------- */



#footBox{width: 100%; height: 120px; background-color: #555;  margin: 0 auto; padding: 1rem; box-sizing: border-box;}
#footBox>div{width: 100%; height:100%; }
#footBox>div>h3{width: 90px; height: auto; float: left; background-color: #fafafa; text-align: center;}
#footBox>div>ul{width: 800px; height: 100%; float: left;
margin-left: 50px; }
#footBox>div>ul>li{width: auto; height: 20px; font-size: 0.7rem; text-align: center; background-color: #aaa; float: left; margin-right: 1rem; padding:0 0.7rem; margin-bottom: 0.3rem; border-right: 1px solid #333; line-height: 20px;}
.foot_btn{float: right;}
.foot_btn>button{ width: 120px; height: 30px; background-color: #afafaf; border-radius: 1rem;}
/* ------------ #footBox ----------- 