 /*productIntro.css */

#wrap{width: 100%; height: auto; background-color: #fafafa;margin: 0 auto;  }
#wrap .last{margin-right:0;}
/* ------------ #wrap ----------- */

#headBox{width: 100%; height: 70px; background-color: #555; padding: 1rem; box-sizing: border-box; margin: 0 auto; }
  #headBox>div{width: 100%;height: 100%;}
  h1{width: 100px; height: 100%; background-color: #fff; text-align: center; float: left;}

  #gnb{width: 700px; height: 100%; float: left; margin-left: 150px; }
  #gnb>ul{width: 100%; height: 100%; background-color: #ddd;}
  #gnb>ul>li{width: 100px; height: 100%; float: left;
   margin-right: 50px; background-color: #fafafa; text-align: center; line-height: 40px;}
  .gnb_btn{width: 50px; height: 100%; float: right; background-color: #fafafa; line-height: 40px; }
/* ------------ #headBox ----------- */


#brandWrap{width: 100%; height: auto; margin: 0 auto; background-color: #fafafa;}

#bnbContainer{width: 100%; height: 120px; padding: 2rem; box-sizing: border-box; background-color: #777;}
#bnb{width: 100%; height: 100%; margin: 0 auto; background-color: #555;}
#bnb>ul{width: 75%; height: 100%; margin: 0 auto; padding: 0.5rem; box-sizing: border-box;}
#bnb>ul>li{width: 120px; height: 100%; float: left; text-align: center; line-height: 40px; padding-right:0.5rem; border-right: 1px solid #fafafa;  margin-right: 1rem; color: #fafafa;} 
#bnb>ul>li:nth-child(1){margin-right: 4rem; font-size: 1.2rem; border-right: none;} 
#bnb>ul>li:nth-child(2){font-size: 1.5rem; font-weight: bold;} 

/* ----------- #bnbContainer----------- */


#contentContainer{width: 100%; height: auto; margin: 0 auto;}
  .content_box_a{width: 100%; height: 350px; border: 1px solid #333;}
  .content_box_a>ul{ width: 100%; height: 100%;}
  .content_box_a>ul>li:first-child{ width: 50%; height: 100%; float: left; background-color: #aaa; } 
  .content_box_a>ul>li:last-child{ width: 50%; height: 100%; float: right; background-color: #eee; padding: 2rem; box-sizing: border-box; } 
  .content_box_a div{width: 70%; height: 150px; margin: 50px auto; background-color: #ffff; text-align: center;padding: 1rem; box-sizing: border-box;} 

 .content_box_b{width: 100%; height: 350px; border: 1px solid #333;}
  .content_box_b>ul{ width: 100%; height: 100%; }
  .content_box_b>ul>li:first-child{ width: 50%; height: 100%; float: left; background-color: #eee; padding: 2rem; box-sizing: border-box;} 
  .content_box_b>ul>li:last-child{ width: 50%; height: 100%; float: right; background-color: #aaa; } 
  .content_box_b div{width: 70%; height: 150px; margin: 50px auto; background-color: #fff; text-align: center; padding: 1rem; box-sizing: border-box;} 
  
/* ----------- #contentContainer----------- */



#footBox{width: 100%; height: 120px; background-color: #555;  margin: 0 auto; padding: 1rem; box-sizing: border-box;}
#footBox>div{width: 100%; height:100%; }
#footBox>div>h3{width: 90px; height: auto; float: left; background-color: #fafafa; text-align: center;}
#footBox>div>ul{width: 800px; height: 100%; float: left;
margin-left: 50px; }
#footBox>div>ul>li{width: auto; height: 20px; font-size: 0.7rem; text-align: center; background-color: #aaa; float: left; margin-right: 1rem; padding:0 0.7rem; margin-bottom: 0.3rem; border-right: 1px solid #333; line-height: 20px;}
.foot_btn{float: right;}
.foot_btn>button{ width: 120px; height: 30px; background-color: #afafaf; border-radius: 1rem;}
/* ------------ #footBox ----------- 