 /* sns.css */

/* #wrap */
#wrap{width: 100%; height: auto; background-color: #fafafa;margin: 0 auto;  }
#wrap .last{margin-right:0;}
/* ------------ #wrap ----------- */

/* #headBox */
#headBox{width: 100%; height: 70px; background-color: #555; padding: 1rem; box-sizing: border-box; margin: 0 auto; }
  #headBox>div{width: 100%;height: 100%;}
  h1{width: 100px; height: 100%; background-color: #fff; text-align: center; float: left;}

  #gnb{width: 700px; height: 100%; float: left; margin-left: 150px; }
  #gnb>ul{width: 100%; height: 100%; background-color: #ddd;}
  #gnb>ul>li{width: 100px; height: 100%; float: left;
   margin-right: 50px; background-color: #fafafa; text-align: center; line-height: 40px;}
  .gnb_btn{width: 50px; height: 100%; float: right; background-color: #fafafa; line-height: 40px; }
/* ------------ #headBox ----------- */

/* #navWrap */
#navWrap{width: 100%; height: auto; margin: 0 auto; background-color: #fafafa;}

#navContainer{width: 100%; height: 120px; padding: 2rem; box-sizing: border-box; background-color: #777;}
#nnb{width: 100%; height: 100%; margin: 0 auto; background-color: #555;}
#nnb>ul{width: 75%; height: 100%; margin: 0 auto; padding: 0.5rem; box-sizing: border-box;}
#nnb>ul>li{width: 200px; height: 100%; float: left; text-align: center; line-height: 40px; padding-right:0.5rem; border-right: 1px solid #fafafa;  margin-right: 1rem; color: #fafafa;} 
#nnb>ul>li:nth-child(4){font-size: 1.5rem; font-weight: bold;} 


/* #snsWrap */
#snsWrap{width: 100%; height: auto; background-color: #fafafa;  padding: 1rem; box-sizing: border-box;}
/* ----------- #snsWrap----------- */
#snsContainer{width: 100%; height: auto; }
/* ----------- #snsContainer----------- */
#snsIntro{width: 100%; height: 300px;  margin-bottom: 50px; border: 1px solid #333;}
.sns_intro_text{width: 35%; height: 100%; float: left; background-color: #fafafa; padding: 1rem; box-sizing: border-box;}
.sns_intro_text>div{background-color: #fafafa;}
.sns_intro_img{width: 65%; height: 100%; float: left; background-color: #aaa;}
/* ----------- #snsIntro----------- */
#snsvideo{width: 100%; height: 500px;  margin-bottom: 50px;}
#snsvideo>ul{width: 90%; height: 100%; margin: 0 auto;}
.sns_content{width: 48%; height: 100%;  float: left;}
.sns_content>div{width: 100%; height: 70%; background-color: #aaa;}
.sns_content>p{width: 100%; height: 30%; background-color: #eee; padding: 1rem; box-sizing: border-box;}
.last{float: right;}


/* ----------- #snsvideo----------- */




#footBox{width: 100%; height: 120px; background-color: #555;  margin: 0 auto; padding: 1rem; box-sizing: border-box;}
#footBox>div{width: 100%; height:100%; }
#footBox>div>h3{width: 90px; height: auto; float: left; background-color: #fafafa; text-align: center;}
#footBox>div>ul{width: 800px; height: 100%; float: left;
margin-left: 50px; }
#footBox>div>ul>li{width: auto; height: 20px; font-size: 0.7rem; text-align: center; background-color: #aaa; float: left; margin-right: 1rem; padding:0 0.7rem; margin-bottom: 0.3rem; border-right: 1px solid #333; line-height: 20px;}
.foot_btn{float: right;}
.foot_btn>button{ width: 120px; height: 30px; background-color: #afafaf; border-radius: 1rem;}
/* ------------ #footBox ----------- 