/* layout_02.css */

@charset "utf-8";

/* =========== reset css ==================*/

html,
body {
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,pre,
div{margin: 0; padding: 0;}
ol,
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #f0a;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

img {
  border: 0;
}

header,
section,
footer,
aside,
article,
nav,
main,
figure {
  display: block;
}


/* ==============common ==================*/

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
}


/* ================design================*/

#wrap {
  width: 700px;
  height: auto;
  /*min-height: 100px;*/
  /*  높이값이 auto면 0이기 떄문에 최소한의 높이값을 줌 */
  margin: 0 auto;
}

/* #wrap------------------*/

#headBox {
  width: 100%;
  height: 80px;
  background-color: #4aa;
  padding: 15px 50px;
  box-sizing: border-box;
}

h1 {
  width: 100px;
  height: 50px;
  background-color: #fff;
  float: left;
}

#gnb {
  width: 450px;
  height: 30px;
  margin-top: 20px;
  background-color: #fff;
  float: right;
}

#gnb > ul {
  width: 100%;
  height: 100%;
}

#gnb > ul > li {
  width: 100px;
  height: 30px;
  float: left;
  background-color: #ccc;
  margin-right: 16px;
}

#gnb > ul > li.last {
  margin-right: 0;
}

/* #headBox----------------*/

#bannerBox {
  width: 100%;
  height: 250px;
  background-color: #fa0;
}

/* #bannerBox---------------*/

#sideBox {
  width: 100%;
  height: 35px;
  background-color: #069;
}

/* #sideBox-----------------*/

#contentBox{
  width: 100%;
  height: auto;
}
#news{
  width: 50%;
  height: 300px;
  background-color: #f77;
  float: left;
  padding: 15px;
  box-sizing: border-box;
}
    #news>ul{
      width: 100%;
      height: 100%;
      background-color: #faa;
    }

/* type_01; */
    #news>ul>li{
      width: 50%;
      height: 50%;
      float: left;
      background-color: #fa6;
      padding: 5px;
      box-sizing: border-box;
    }
    #news>ul>li>a{
      display: block;
      width: 100%;
      height: 100%;
      background-color: #ccc;
    }   

#info {
  width: 50%;
  height: 300px;
  background-color: #77f;
  float: left;
  padding: 15px;
  box-sizing: border-box;
}

#info>ul {
  width: 100%;
  height: 100%;
}

#info>ul>li {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  background-color: #fff;
}

#info>ul>li.last {
  margin-bottom: 0;
}

/* #contentBox---------------*/

#footBox {
  width: 100%;
  height: 80px;
  background-color: #fa0;
}

/*#footBox ----------------*/
