/* rwd_01.css */

#wrap{width: 100%; min-width: 960px; height: auto; min-height: 800px; margin: 0 auto; background-color: #ccc;}
/*  반응형 웹(@media screen) 제작에는 IE를 고려할 필요가 없다!  
    그렇다고 IE를 아예 생각 안하고 제작하는 것은 아니다. 
    최소한의 내용은 제작하고, 이외의 부분에 대해서는 최신 브라우저를 고려해서 제작한다. */

#headBox{width: 100%; height: 100px; background-color: #ddd; }
#bannerBox{margin-top: 0.5rem; width: 100%; height: 500px; background-color: #cca; }
#contentBox{width: 960px; height: 1200px; margin: 0 auto; background-color: #ff7;}
#footBox{width: 100%; height: 50px; background-color: #555; }

/* mobile max480 */
/* @media print and (max-width:210mm) : 인쇄용 */
/* @media handhels and (max-width:210mm): 사람 손으로 들수 있는 핸드폰같은..*/
/* @media screen and (max-width:210mm) */

@media screen and (max-width: 480px) {
 #wrap{background-color: #fa0; }
/* 값을 안쓰면 밖에 값을 따름 */
} 

/* tabletV(android 타블렛 세로형) min481 ~ max767 */
@media screen and (min-width: 481px) and (max-width: 767px){
#wrap{background-color: #0cf;}
}

/* laptop min768 max1366 */
@media screen and (min-width: 768px) and (max-width: 1366px){
#wrap{background-color: #faa;}  
}

/* pc full min 1367 */
@media screen and (min-width: 1367px){
  #wrap{background-color: #dd8;}
}