#wrap{width: 626px; height: 626px; background-color: #ddd; margin: 0 auto;}
.hidden{width: 0; height: 0; display: block; overflow: hidden; position: absolute; z-index: -1;}
form{width: 475px; height: 322px; background-color: #fafafa ; margin: 0 auto;}
fieldset
legend