/* layout_test_04_css */

@charset "utf-8";

/* ======= reset css ======= */
html,body{
  margin: 0;padding: 0;color: #333;
}
h1,h2,h3,h4,h5,h6,p,pre,div{
  margin: 0; padding: 0;
}
ul,ol,li,dl,dt,dd{
  margin: 0;padding: 0; list-style: none;
}
a{
  text-decoration: none; color: #f0a;
}
a:hover{
  text-decoration: underline;
  font-weight:  bold;
}
img {
  border: 0;
}
header,section,content,footer,aside,article,nav,main,figure {
  display:block;
}

/*  ===== common ===== */
.clearfix:after {
  content: " "; 
  display: block;
  clear: both;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
}

/*  ===== design ===== */
/* #wrap */
#wrap{
  width: 978px;
  height: 1740px;
  min-height: 0;
  background-color: #fff;
  margin: 0 auto;
}
/* //#wrap  */

/*  #headBox  */
#headBox{
  width: 100%;
  height: 150px;
  background-color: #5d6d7f;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
h1{
  width: 100px;
  height: 100px;
  background-color: #fff;
  float: left;
}
#gnb{
  width: 650px;
  height: 60px;
  background-color: #fff;
  float: left;
  margin-top: 40px;
  margin-left: 10px;
  }
#gnb>ul{
  width: 560px;
  height: 50px;
  margin-left: 60px;
  margin-top: 15px;
  }
#gnb>ul>li{
  width: 100px;
  height: 30px;
  background-color: #a2a2a2;
  margin-right: 40px;
  float:left;  
}
#gnb>ul>li.last{
  margin-right: 0;
}
#unb{
  width: 90px;
  height: 40px;
  float: right;
}
#unb li {
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin-right: 10px;
  float: left;
  }
#unb li.last {
  margin-right: 0;;
}
/* //#headBox */

/* #infoBox */
#infoBox{
  width: 100%;
  height: 200px;
  background-color:#72a3bf ;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;}
#infoArea{
  width: 830px;
  height: 150px;
  margin: 20px 50px;}
#infoArea>ul>li{
  width: 150px;
  height: 150px;
  background-color: #fff;
  float: left;
  margin-right: 20px;}
#infoArea>ul>li.last{
  margin-right: 0;}
/* // #infoBox */

/* #newsBox */
#newsBox{
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  background-color: #8ea6cf;
}
h3{
  width: 175px;
  height: 300px;
  background-color: #99daff;
  float: left;
}
#newsBox .A_inside{
  width: 100px;
  height: 100px;
  background-color: #fff;
  float: left;
  margin: 30px;
}
#newsBGroup{
  width: 520px;
  height: 300px;  
  float: left;
  margin-left: 100px;
  }
#newsBGroup>ul{
  width: 100%;
  height: 300px;
  float: left;
  }
#newsBox ul>li{
  width: 140px;
  height: 140px;
  margin: 5px 15px;
  background-color: #fff;
  float: left;
}
/* //#newsBox */
/* #sideBox */
#sideBox{
  width: 100%;
  height: 140px;
  margin-bottom: 20px;  
  }
#sideBox .menu_button{
  width: 40px;
  height: 40px;
  background-color: #333;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  
}

#shortMenu{
  width: 215px;
  height: 140px;
  background-color: #5d6e7f;
  float: left;
  }
#shortMenu>ul{
  width: 100%;
  height: 120px;
  float: left;
  padding:15px;
  box-sizing: border-box;
}
#shortMenu>ul>li{
  width: 100%;
  height: 50px;
  background-color: #fff;  
  margin-bottom: 10px;
}
#longMenu{
  width: 763px;
  height: 140px;
  background-color: #a8c4e5;
  padding: 15px;
  box-sizing: border-box;
  float: left;
}
#longMenu>ul{
  width: 100%;
  height: 140px;
  float:left;
  margin-left: 10px;
  }
#longMenu>ul>li.long_01{
  width: 160px;
  height: 50px;
  float: left;
  background-color: #fff; 
  margin-right: 12px;
}
#longMenu>ul>li.long_02{
  width: 260px;
  height: 50px;
  float: left;
  background-color: #fff; 
  margin-right: 12px;
}
#longMenu>ul>li.long_03{
  width: 250px;
  height: 50px;
  float: left;
  background-color: #fff;
  margin-right: 12px;
}
#longMenu>ul>li.long_04{
  width: 570px;
  height: 50px;
  float: left;
  background-color: #fff;
  margin-top: 10px;
  margin-right: 12px;
}
#longMenu>ul>li.long_05{
  width: 125px;
  height: 50px;
  float: left;
  margin-top: 10px;
  background-color: #fff;
  }
/* //#sideBox */
/* #contentBox */
#contentBox{
  width: 100%;
  height: 700px;
  background-color: #a8c4e5;
  margin-bottom: 20px;
  }
#contentMenuBar {
  width: 100%;
  height: 50px;
  padding: 20px;
  box-sizing: border-box;
  }
#contentMenuBar li.content_menu{
  width: 100px;
  height: 45px;
  background-color: #555;
  float: left;
  margin-right: 20px;
  color: #fff;
 }
#contentMenuBar li.content_bar{
  width: 250px;
  height: 30px;
  background-color: #555;
  float: left;
  margin-top: 10px;
  color: #fff;
 }
#contentMenuBar li.content_button{
  width: 60px;
  height: 40px;
  background-color: #555;
  margin-right: 10px;
  float: right;
  color: #fff;
}
#contentGroup{
  width: 750px;
  height: 400px;
  margin-top: 60px;
  margin-left: 110px;
}
#contentGroup>ul{
  width: 800px;
  height: 400px;
  float:left;
}
#contentGroup>ul>li{
  width: 150px;
  height: 150px;
  background-color: #fff;
  float:left;
  margin: 30px 20px;
}
#contentBottom{
  width: 290px;
  height: 40px;
  margin-left: 350px;
  margin-top: 70px;
  background-color: #333;
  float: left;
 }
#contentBottom>ul>li{
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin-right: 10px;
  float: left;
}
#contentBottom>ul>li.last{
  margin-right: 0;
}

/* //#contentBox */
/* #footBox */
#footBox{
  width: 100%;
  height: 150px;
  background-color: #5d6e7f;
}
#footBox>h2{
  width: 100px;
  height: 100px;
  background-color: #fff; 
  margin-left: 120px;
  margin-top: 20px;
  float: left;
}
#footBox>address{
  width: 600px;
  height: 100px;
  background-color: #fff; 
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}


/* //#footBox */











